# App variables definition
app_name = "file-stat"
environment-name = "dev"
main-vpc-cidr = "10.0.0.0/16"
api-open-port = 5150

#AWS auth variables
aws-access-key = "YourAwsAccessKey"
aws-secret-key = "YourAwsSecretKey"
default-region = "us-east-1"
